/*
 Theme Name:   Money Mart Direct Theme
 Theme URI:    https://moneymartdirect.com
 Description:  Money Mart Direct is a Divi Child Theme
 Author:       Ben Smith
 Author URI:   http://beachsmith.com
 Template:     Divi
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         responsive-layout
 Text Domain:  MoneyMartDirect
*/

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(fonts/MaterialIcons-Regular.woff) format('woff'),
    url(fonts/MaterialIcons-Regular.ttf) format('truetype');
}



.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}




body{
	background:#fff;
}
p{
	margin-bottom:20px;
	padding-bottom: 0;
}
#main-header{
	-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, .42);
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, .42);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .42);
}
/* Logo */
#logo {
	display: inline-block;
	float: none;
/* 	max-height: 100%; */
	margin-bottom: 0;
	margin-left:10px;
	vertical-align: middle;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	-webkit-transform: translate3d(0, 0, 0);
}
#main-header .container {
	width:100%;
	padding:0px;
}

.container {
	width:100%;
/* 	padding:10px; */
}
#et-main-area .et_pb_section{
	
}

div[id*="gform_wrapper"]{
	padding:10px;
}
.et_pb_svg_logo #logo, .et_pb_svg_logo.et_header_style_split .et-fixed-header .centered-inline-logo-wrap #logo {
/* 	height: 54%; */
}

.logo_container {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

div#et-top-navigation{
	padding-left: 50px !important;
	padding-top:0px !important;
}
#top-menu li{
	height:80px;
	padding-right: 10px;
	border-bottom:0px solid 16A54A;
}
#top-menu li:last-child{
	background:rgba(22, 165, 74, 1);
}
#top-menu li:last-child a{
	color:#fff;
}
#top-menu li:last-child:hover a{
	color:#fff;
	border-bottom:0px solid #f77111;
/* 	background:rgba(114, 176, 189,1); */
	box-shadow: inset 0px 0px 20px rgba(0,0,0,.2);
	
}
#top-menu li:last-child a:hover{
	color:#fff !important;
	opacity: 1;
}

#top-menu li a{
	display:block;
	padding:30px 10px !important;
    height: 80px;
    vertical-align: middle;
	-webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
#top-menu li:hover a{
	color:#16A54A !important;
}
#top-menu li.current-menu-item > a, #top-menu li:hover a{
	color:inherit;
	border-bottom:3px solid #16A54A; /* #e64d56 */
	opacity: 1;
}
#top-menu-nav > ul > li > a:hover{
	opacity: 1;
}
#top-menu li:last-child.current-menu-item > a{
	color:#fff;
	border-bottom:0px solid #e64d56;

}
/* mini-menu */
.mmdMiniMenu{
	display:none;
	padding:5px 10px;
	text-align: center;
}
@media(max-width:980px){
	.mmdMiniMenu{
		display:block;
	}
}

.mmdMiniMenu li{
	padding: 5px;
	display:inline-block;
}
.mmdMiniMenu li:last-child{
	background:rgba(114, 176, 189,1);
}
.mmdMiniMenu li:last-child a{
	color:#fff;
}
.mmdMiniMenu li:last-child:hover a{
	color:#fff;
	border-bottom:0px solid #e64d56;
/* 	box-shadow: inset 0px 0px 20px rgba(0,0,0,.2); */
}
.mmdMiniMenu li:last-child a:hover{
	color:#fff;
	opacity: 1;
}
.mmdMiniMenu li a{
	display:block;
    vertical-align: middle;
	-webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
    color: rgba(0,0,0,.6);
    letter-spacing: 2px;
    font-weight:600;
}
.mmdMiniMenu li.current-menu-item > a, #top-menu li:hover a{
	color:inherit;
	border-bottom:3px solid #16A54A;
	opacity: 1;
}
.mmdMiniMenu > ul > li > a:hover{
	opacity: 1;
}
.mmdMiniMenu li:last-child.current-menu-item > a{
	color:#fff;
	border-bottom:0px solid #e64d56;

}
/* end mini-menu */



.noaaLink{
	text-align: center;
}
.linkPDF{
	padding:15px 0;
	text-align: right;
	max-width: 800px;
    margin: auto;
}
.embedPDF{
	text-align: center;
	margin:auto;
	max-width: 800px;
	margin-bottom: 30px;
    border: 1px solid #ccc;
    padding: 0 20px 20px;
    overflow: hidden;
}
/* slider */
.home .et_pb_section{
	padding-top:0 !important;
}
.et_pb_row{
	
}
/*
.et_pb_slide .et_pb_slide_content{
	max-width:400px;
	width:100%;
	padding:20px;
	border-radius: 10px;
	border:0px solid rgba(26,173,89,1);
	background:rgba(26,173,89,.8);
	float:right;
	margin:20px auto;
	box-shadow: 2px 2px 20px rgba(0,0,0,.6);
}
*/
.benefitsSlider h2{
	padding:0 !important;
}
.benefitsSlider .et_pb_slider_with_text_overlay .et_pb_text_overlay_wrapper{
	padding:20px !important;
}
.welcomeSlider{
	display: block;
	float:none;
	width:auto;
	margin: 0 16px 10px !important;
    padding-top: 0px;
    border-radius:3px;
    box-shadow: 2px 2px 20px rgba(0,0,0,.6);
}
.welcomeSlider .et_pb_slide_3 .et_pb_slide_description h2{
	text-align: center;
}
.welcomeSlider .et_pb_slide_content p:last-of-type{
	margin:0;
}
.welcomeSlider .et_pb_slider_with_text_overlay h2.et_pb_slide_title{
	padding:10px 10px 0px !important;
}
.welcomeSlider .et_pb_slider_with_text_overlay .et_pb_slide_content{
	padding: 0px 10px 10px !important;
}
.welcomeSlider .et_pb_slide_description, .welcomeSlider .et_pb_slider_fullwidth_off .et_pb_slide_description{
	padding:10px;
}
.welcomeSlider .et_pb_slider_1.et_pb_slider{
	padding:0px;
}
.welcomeSlider .et_pb_slides .et_pb_container{
	height:auto !important;
}
.appNowSlide{
	border-radius: 3px;
}
.appNowSlide .et_pb_slide_content > p{
	display:none;
}
.appNowSlide .et_pb_slide_description{
	padding:0;
}
.appNowSlide .gform_wrapper h3.gform_title{
	color:#fff;
	font-size: 32.5px;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	text-align: center;
}
.appNowSlide .gform_wrapper .top_label .gfield_label{
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	font-size: 18px;
	font-weight: 700;
	color: #fff;
}
.appNowSlide .gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label{
	color: #fff;
	font-size: 15px;
}
.appNowSlide .gform_wrapper .field_description_below .gfield_description{
	color:#fff;
	font-size:12px;
	line-height: 15px;
	padding-top:0px;
}
.appNowSlide .gform_wrapper .gform_footer{
	text-align: center;
}
.applyNowEmailField{
	margin-top:0px !important;
}
.applyNowEmailField label{
	display:none !important;
}
.applyNowEmailField .ginput_container.ginput_container_email{
	margin-top:0px !important;
}
.frontPageNameFields div label{
	height: 10px !important;
}
.appNowSlide .gform_wrapper li.gfield.gfield_error.gfield_contains_required{
	max-width: 100% !important;
	margin:0;
}
@media only screen and (min-width: 641px) {
	.appNowSlide .gform_wrapper.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
        max-width: 100% !important;
        padding: 5px;
    }
}

/*** BUTTON STYLING ***/
a.et_pb_button{
/* 	text-decoration: underline; */
}
.appNowSlide .gform_wrapper .gform_footer input.button {
	margin:auto !important;	
	transition: all .2s;
	color:#e64d56 !important;
/* 	background:#fff !important; */
/* 	border:1px solid #578386 !important; */
	border:1px solid rgba(0,0,0,.4) !important;
	border-radius: 5px !important;
	text-decoration: none;
	font-size: 16px !important;
	font-weight: 700 !important;
	text-transform: none !important;
	
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,dadadd+100 */
	background: #ffffff !important; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #dadadd 100%) !important; /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#dadadd 100%) !important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#dadadd 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dadadd',GradientType=0 ) !important; /* IE6-9 */

}

.et_pb_button.et_pb_module{
	width:auto !important;
}
.et_pb_slider_1.et_pb_slider.appNowSlide .et_pb_slide .et_pb_slide_description a.et_pb_more_button.et_pb_button{
	text-align: center;
	margin:20px auto;
	display: inline-block;
}

/*** BUTTON HOVER STYLING ***/
.appNowSlide .gform_wrapper .gform_footer input.button:hover { 	
	color:#e64d56 !important;
/* 	background:#f77111 !important; */
/* 	border:1px solid #578386 !important; */
	border:1px solid rgba(0,0,0,.4) !important;
	border-radius: 5px !important;
	text-decoration: none;
	font-size: 16px !important;
	font-weight: 700 !important;
	text-transform: none !important;
	
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+42,dadadd+100 */
	background: #ffffff !important; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 42%, #dadadd 100%) !important; /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 42%,#dadadd 100%) !important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#ffffff 42%,#dadadd 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dadadd',GradientType=0 ) !important; /* IE6-9 */
}

.gform_wrapper .gform_footer input.button:hover, .gform_wrapper .gform_page_footer .button:hover{
/*
 background: #c4c7ce;
 border: 2px solid transparent;
 color:#ffffff;
*/
}
.gform_wrapper .gform_footer input.button:hover, .gform_wrapper .gform_page_footer .button:hover {
	background: #345995;
	border: 2px solid #345995;
	color: #8da5c9;
}
.gform_wrapper .gform_page_footer input.button.gform_previous_button:hover{
	background: #a0a4ad;
}



/*** BUTTON STYLING ***/
.BtnOrange{
/*
	color:#f77111 !important;
	background:#fff !important;
	border:2px solid #f77111 !important;
	border-radius: 3px !important;
	text-decoration: none;
*/
	
	margin:auto !important;	
	transition: all .2s;
	color:#303F48 !important;
/* 	background:#fff !important; */
/* 	border:1px solid #578386 !important; */
	border:1px solid rgba(0,0,0,.4) !important;
	border-radius: 5px !important;
	text-decoration: none;
	font-size: 16px !important;
	font-weight: 700 !important;
	text-transform: none !important;
	
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,dadadd+100 */
	background: #ffffff !important; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #dadadd 100%) !important; /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#dadadd 100%) !important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#dadadd 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dadadd',GradientType=0 ) !important; /* IE6-9 */


}


.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_page_footer .button, .gform_wrapper .gform_footer input[type=submit] {
/*	color:#f77111 !important;
 	background:#fff !important; */
/* 	border:2px solid #f77111 !important; */
	border-radius: 3px !important;
	text-decoration: none;
	padding: .3em 1em!important;
	font-size: 18px !important;
	text-transform: uppercase !important;
	line-height: 1.7em !important;
	letter-spacing: 2px;
	
	
	margin:auto !important;	
	transition: all .2s;
	color:#303F48 !important;
/* 	background:#fff !important; */
/* 	border:1px solid #578386 !important; */
	border:1px solid rgba(0,0,0,.4) !important;
	border-radius: 5px !important;
	text-decoration: none;
	font-size: 16px !important;
	font-weight: 700 !important;
	text-transform: none !important;
	
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,dadadd+100 */
	background: #ffffff !important; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #dadadd 100%) !important; /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#dadadd 100%) !important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#dadadd 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dadadd',GradientType=0 ) !important; /* IE6-9 */

}
.gform_wrapper .gform_footer input.button:after, .gform_wrapper .gform_page_footer .button:after, .gform_wrapper .gform_footer input[type=submit]:after{
	content:'';
	background: url("../../uploads/2018/04/MM-Direct-FPO-favicon.png") no-repeat center center;
	background-size: 16px;
}

/* Forms - Previous button */
.gform_wrapper .gform_page_footer input.button.gform_previous_button{
	background: #c4c7ce !important;
	color: #fff !important;
    border-color: #c4c7ce !important;
    
    
    
	margin:auto !important;	
	transition: all .2s;
	color:#303F48 !important; 
/* 	background:#fff !important; */
/* 	border:1px solid #578386 !important; */
	border:1px solid rgba(0,0,0,.4) !important;
	border-radius: 5px !important;
	text-decoration: none;
	font-size: 16px !important;
	font-weight: 700 !important;
	text-transform: none !important;
	
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,dadadd+100 */
	background: #ffffff !important; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #dadadd 100%) !important; /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#dadadd 100%) !important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#dadadd 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dadadd',GradientType=0 ) !important; /* IE6-9 */

}

.gform_wrapper .gform_page_footer input.button.gform_previous_button{
/* 	float:left; */
}


/* sign in form button */
.signInForm .et_pb_login_form button[type="submit"]{
	color:#f77111 !important;
	background:#fff !important;
	border:2px solid #f77111 !important;
	border-radius: 3px !important;
	text-decoration: none;
	display: inline-block;
	width:auto;
	float:right;
}

.BtnOrange:hover{
/*
	color:#fff !important;
	background:#f77111 !important;
	border:2px solid #f77111 !important;
	border-radius: 3px !important;
	text-decoration: none;
*/
	
	color:#16A54A !important;
/* 	background:#f77111 !important; */
/* 	border:1px solid #578386 !important; */
	border:1px solid rgba(0,0,0,.4) !important;
	border-radius: 5px !important;
	text-decoration: none;
	font-size: 16px !important;
	font-weight: 700 !important;
	text-transform: none !important;
	
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+42,dadadd+100 */
	background: #ffffff !important; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 42%, #dadadd 100%) !important; /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 42%,#dadadd 100%) !important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#ffffff 42%,#dadadd 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dadadd',GradientType=0 ) !important; /* IE6-9 */

	
}

/* Forms - Next and Submit buttons */
.gform_wrapper .gform_footer input.button:hover, .gform_wrapper .gform_page_footer .button:hover, .gform_wrapper .gform_footer input[type=submit]:hover{
/*
	color:#fff !important;
	background:#f77111 !important;
	border:2px solid #f77111 !important;
	border-radius: 3px !important;
	text-decoration: none;
*/
	
	
	color:#16A54A !important;
/* 	background:#f77111 !important; */
/* 	border:1px solid #578386 !important; */
	border:1px solid rgba(0,0,0,.4) !important;
	border-radius: 5px !important;
	text-decoration: none;
	font-size: 16px !important;
	font-weight: 700 !important;
	text-transform: none !important;
	
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+42,dadadd+100 */
	background: #ffffff !important; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 42%, #dadadd 100%) !important; /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 42%,#dadadd 100%) !important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#ffffff 42%,#dadadd 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dadadd',GradientType=0 ) !important; /* IE6-9 */

	
}

/* Forms - Previous button */
.gform_wrapper .gform_page_footer input.button.gform_previous_button:hover{
	color:#303F48 !important;
    
    
}
/* sign in form button */
.signInForm .et_pb_login_form button[type="submit"]:hover{
	color:#fff !important;
	background:#f77111 !important;
	border:2px solid #f77111 !important;
	border-radius: 3px !important;
	text-decoration: none;
}

/* End Buttons */




.et_pb_slide_content .gform_wrapper .gform_heading {
    width: 100%;
    margin-bottom: 18px;
    text-align: center;
    font-size: 26px;
}

.gform_wrapper .gform_footer{
	text-align:right;
}
.gform_wrapper .gform_page_footer{
	text-align:right;	
}
.gform_wrapper .gform_footer input{
/* 	float:right; */
}
.gform_wrapper .gform_footer input:after{
	content: '';
	clear:both;
}
.gform_wrapper .gform_page_footer input{
/* 	float:right; */
}
.gform_wrapper .gform_page_footer input:after{
	content: '';
	clear:both;
}

.gform_wrapper .gform_footer .gform_save_link{
	margin:10px 15px auto auto;
}
.gform_wrapper .gform_page_footer a.gform_save_link{
	line-height: 54px;
	vertical-align: middle;
	margin-right:16px;
}
.appNowSlide .gform_wrapper .gform_footer{
	text-align:center;
}
.appNowSlide .gform_wrapper .gform_footer input{
	float:none;
}
.gform_wrapper .agreementText .gfield_description{
	font-size: 1em !important;
}
.passwordfield .gfield_description{
	padding-top:0 !important;
	margin-top:-16px;
}
/* footer */
#footer-widgets .footer-widget li:before{
	display:none;
}
#footer-widgets .footer-widget li{
	display:inline-block;
}
#main-footer{
	text-align: center;
	clear:both;
	padding:20px;
/* 	margin-top:20px; */
}
.footer-widget .fwidget{
	
}
#footer-widgets .footer-widget:nth-child(n), #footer-widgets .footer-widget .fwidget{
	margin-bottom:10px !important;
}
#nav_menu-3.fwidget{
	border-bottom:1px solid #fff;
	padding-bottom:10px !important;
	margin-bottom:10px !important;
}
#nav_menu-4.fwidget{
	margin-bottom:10px !important;
}
#nav_menu-5.fwidget{
	margin-bottom:10px !important;
}
#footer-widgets .footer-widget .et_pb_widget ul li{
	margin-bottom:auto;
}
#footer-widgets .footer-widget .et_pb_widget ul li:first-child{
	margin-left: 0;
	padding-left:0;
}
.fwidget.et_pb_widget{
	float:none;
	text-align: center;
}
#footer-widgets .footer-widget{
	width:100% !important;
}
#footer-widgets .footer-widget li:first-child{
	border:none;
}
#footer-widgets .footer-widget li{
	display: inline-block;
    border-left: 1px solid #fff;
    margin-left: 14px;
}
#footer-widgets{
	padding:2% 0 0;
}
.footerblock{
	text-align:left;
}
.footerblockleft{
	margin:25px auto;
	display: block;
	float:none;
	width:100%;
	text-align: justify;
}
.footerblockright{
	display: none;
}
#footer-bottom{
	background: none !important;
}

/* forms */
.gform_wrapper {
    width: 100% !important;
    max-width: 600px !important;
    margin: auto !important;
}
select{
	border-radius: 0px;
	font-size: inherit;
    font-family: inherit;
    padding: 5px 4px;
    letter-spacing: normal;
}
.gform_wrapper .gfield_required{
	color:inherit;
	display:none;
}
.frontPageNameFields div.ginput_complex.ginput_container.gf_name_has_2 span{
	width: 100%;
}
.gf_readonly label{
	font-style: italic;
	font-size:18px !important;
	color:#ccc;
	display:inline-block;
	width:auto;
}
.gf_readonly .ginput_container{
	display:inline-block;
	width:auto;
}
.gf_readonly input{
	background: none;
    color: #999;
    border: none;
    font-style: italic;
	font-size:18px !important;
	display:inline-block;
	width:auto;
}
.sampleCheck{
	max-width:400px;
	min-width:300px;
	width:100%;
}
.sampleCheck img{
	width:100%;
}
/* error messages */
.gform_wrapper div.validation_error{
	color: #fff !important;
    display: block !important;
    background: #920000 !important;
    padding: 5px !important;

}
.gform_wrapper .gfield_error .gfield_label{
	color: #fff !important;
    display: block !important;
    background: #920000 !important;
    padding: 5px !important;
}
.gfield_description.validation_message{
	color: #fff !important;
    display: block !important;
    background: #920000 !important;
    padding: 5px !important;
    margin: 20px auto !important;
}
.checkingAccountFields .gfield_error{
	width: auto !important;
	max-width:300px !important;
}
.gform_wrapper .top_label .gfield_error {
    width: 100% !important;
}
.gform_wrapper li.gfield.gfield_error{
	background: #888888 !important;
	border-top: 1px solid #999 !important;
    border-bottom: 1px solid #999 !important;
}

/*   */
.checkingAccountFields{
	display: inline-block;
	
}
.checkingAccountDateFields{
	display:inline-block;
}
.accountingoodstanding .gfield_required{
	display:none;
}
.accountingoodstanding .ginput_container_checkbox{
	display: inline-block;
    vertical-align: top;
    margin-top: 0;
}
.accountingoodstanding .gfield_checkbox{
	margin:auto !important;
	padding:0 !important;
	vertical-align: top;
}

.accountingoodstanding input[type="checkbox"]{
	vertical-align: top !important;
    margin: 3px !important;
}
.gform_wrapper.signandsubmit_wrapper li.gsection.gf_scroll_text{
	border: 1px solid #CCC;
    border-bottom: 0px solid #CCC !important;
}
.signandsubmit .agreecheckbox{
	border: 1px solid #CCC;
	border-top:0px solid #CCC !important;
	width: calc(100% - 16px);
}
.signandsubmit .agreecheckbox.electronicdisclosure{
	border: 1px solid #CCC;
	border-top:0px solid #CCC !important;
	/*border-bottom:0px solid #CCC !important;*/
}
.signandsubmit .agreecheckbox.electronicdisclosure .signwithssn{
	border: 1px solid #CCC;
	border-top:0px solid #CCC !important;
}
.signandsubmit .agreecheckbox{
    margin-bottom:50px;
}
.signandsubmit .agreecheckbox .gfield_label{
    display:none !important;
}


.agreecheckbox{
    margin-bottom:50px;
}
.agreecheckbox .gfield_label{
    display:none !important;
}





.gform_wrapper.signandsubmit_wrapper ul li.gfield{
	margin-top:0px;
}
.gform_wrapper.signandsubmit_wrapper .gsection{
	margin-bottom:0;
}
.agreeandsubmit .ginput_container_checkbox input[type="checkbox"]{
	vertical-align: top !important;
}
.signwithssn .ginput_container{
	display:inline-block;
}
.et_pb_blurb_content{
	max-width:400px;
}
.verificationpassed{
	margin-bottom: 0px !important;
}
.verificationContent.accepted .et_pb_section.verificationpassedcontainer{
	padding:0 !important;
}
.verificationContent.accepted .et_pb_section.verificationpassedcontainer .et_pb_row{
	padding-bottom:0 !important;
}
.verificationContent.accepted div[id*="gform_wrapper"]{
	padding-top:0 !important;
}
.verificationContent.accepted .et_pb_blurb_content p:last-of-type{
	margin-bottom:0 !important;
}
body img.gform_ajax_spinner {
    display: none!important;
}


/* Sign In / Out / Lost Password User Flow */
.loginFormPages{
	text-align: center;
}
.loginContainer{
    color: #666 !important;
    background-color: #fff !important;
    border: 1px solid #ccc;
    padding:25px;
    max-width: 960px;
    margin:5px auto;
}
.loginContainer.notFoundPage{
	margin:65px auto;
}
.login-info, .login-error{
	text-align: center;
	font-size: 18px;
	margin-bottom:50px;
}
.titleIntro{
	margin-top:-40px;
	width: 40%;
    display: inline-block;
    vertical-align: top;
}
.loginTitle{
    color: #333 !important;
    display: inline-block;
    margin-top: 0px;
    background: #fff;
    padding: 0px 10px;
    margin-left: -10px;
}
.loginIntro{
	
}
.ffcLoginForm{
	display:inline-block;
	width:50%;
	margin-left:50px;
}
@media(max-width:590px){
	.loginContainer{
		
	}
	.titleIntro{
		width:100%;
		margin-left:auto;
		margin-right:auto;
		}
	.ffcLoginForm{
		width:100%;
		margin: 20px auto;
	}
}
@media(max-width:400px){
	
}
.login-form-container{
	
}
.ffcLoginForm label{
	display: block;
	font-weight: 700;
	font-size: 14px;
}
.ffcLoginForm input{
	border: 1px solid #bbb !important;
	background-color: #ffffff;
    color: #666666;
    width: 100%;
    padding: 14px 4%!important;
    border-radius: 3px!important;
    font-size: 16px;
    font-weight: 400;

}
input[type="checkbox"]{
	width:auto;
}
.login-username{}

.login-username label{
}

.login-username input{}

.login-submit, .lostpassword-submit, .resetpass-submit{
	text-align: right;
}
.ffcLoginForm input[type="submit"], div.form_saved_message div.form_saved_message_emailform form input[type=submit]{
/*
	color: #f77111 !important;
    background: #fff !important;
    border: 2px solid #f77111 !important;
    border-radius: 3px !important;
    text-decoration: none;
    display: inline-block;
    width: auto;
*/
    
    width: auto;
    margin:auto !important;	
	transition: all .2s;
	color:#e64d56 !important;
/* 	background:#fff !important; */
/* 	border:1px solid #578386 !important; */
	border:1px solid rgba(0,0,0,.4) !important;
	border-radius: 5px !important;
	text-decoration: none;
	font-size: 16px !important;
	font-weight: 700 !important;
	text-transform: none !important;
	padding: 5px 16px !important;
	
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,dadadd+100 */
	background: #ffffff !important; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #dadadd 100%) !important; /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#dadadd 100%) !important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#dadadd 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dadadd',GradientType=0 ) !important; /* IE6-9 */


}
.ffcLoginForm input[type="submit"]:hover, div.form_saved_message div.form_saved_message_emailform form input[type=submit]:hover{
/*
	color: #fff !important;
    background: #f77111 !important;
    border: 2px solid #f77111 !important;
    border-radius: 3px !important;
    text-decoration: none;
*/
    
    
    color:#e64d56 !important;
/* 	background:#f77111 !important; */
/* 	border:1px solid #578386 !important; */
	border:1px solid rgba(0,0,0,.4) !important;
	border-radius: 5px !important;
	text-decoration: none;
	font-size: 16px !important;
	font-weight: 700 !important;
	text-transform: none !important;
	
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+42,dadadd+100 */
	background: #ffffff !important; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 42%, #dadadd 100%) !important; /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 42%,#dadadd 100%) !important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#ffffff 42%,#dadadd 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dadadd',GradientType=0 ) !important; /* IE6-9 */

}
/* Save form progress */
div.form_saved_message div.form_saved_message_emailform form input[type=submit]{
	margin-top:5px !important;
}
.gform_wrapper .form_saved_message{
	border: 2px solid #129DD2 !important;
    background-color: #fff !important;
}

a.forgot-password{
	text-align: right;
    display: block;
}

.signInForm {
	color:#666 !important;
	background-color: #fff !important;
	border:1px solid #ccc;
}
.signInForm h2{
	color:#333 !important;
	display: inline-block;
    margin-top: 0px;
    background: #fff;
    padding: 0px 10px;
    margin-left: -10px;
}
.signInForm .et_pb_newsletter_description{
	margin-bottom: 20px;
    margin-top: -40px;
    display: block;
}
.signInForm .et_pb_forgot_password a{
	color:#666 !important;
}
.signInForm .et_pb_newsletter_form p input{
	border: 1px solid #bbb !important;
}
/* END Sign In / Out / Lost Password User Flow */

/* 404 error page styling */
.404page{
	text-align: center;
}
.404Container{
    color: #666 !important;
    background-color: #fff !important;
    border: 1px solid #ccc;
    padding:25px;
    max-width: 960px;
    margin:auto;
}
.404Title{
    color: #333 !important;
    display: inline-block;
    margin-top: 0px;
    background: #fff;
    padding: 0px 10px;
    margin-left: -10px;
}
.404Content{
	
}


/* END 404 page styling */


.gform_wrapper .percentbar_blue{
	background-color: #8da5c9 !important;
    color: #FFF;
}
.gform_wrapper .gf_progressbar_percentage {
    height: 24px;
    text-align: right;
    font-family: helvetica,arial,sans-serif;
    font-size: .813em!important;
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
    z-index: 999;
    vertical-align: middle;
    background: repeating-linear-gradient(-45deg,rgba(0,0,0,0),rgba(0,0,0,0) 10px,rgba(0,0,0,.1) 10px,rgba(0,0,0,.1) 20px),linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,.3));
    border-radius: 20px 4px 4px 20px;
}
.gform_wrapper .gf_progressbar_wrapper h3.gf_progressbar_title{
	font-size: 1.5em !important;
}
.gform_wrapper .gf_progressbar{
	padding:4px !important;
}
/* processing overlay */

#overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.75);
    z-index: 999999;
    min-height:150px;
    cursor: pointer;
}

.loaderContainer{
	position: relative;
	top:40%;
	display: block;
	margin:10px;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #ff7f32;
  width:90px;
  height: 90px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* /end processing overlay */

/* Account */

.accountPage{
	margin-bottom:50px;
}

.loanSummaryContainer{
	font-size: 16px;
	max-width:600px;
	margin:auto;
	padding: 10px;
	text-align: center;
}
.loanSummaryWelcome{
	font-size: 18px;
	text-align: left;
}
.customerName{
	font-weight: 600;
}
.loanSummaryContainer ul li{
	list-style: none;
}
.loanSummaryWelcome{
	max-width:400px;
	margin:auto;
}
.loanDataContainer{
	margin:20px auto !important;
	padding:0px !important;
	width:100%;
	border: 1px solid #ccc;
    padding: 20px !important;
    display: inline-block;
    max-width: 400px;
    position: relative;
}
.loadDataContainerLabel{
	top: -15px;
	padding:0px 10px;
    background: #fff;
    text-align: left;
    position: absolute;
}
.loanDataItem{
	padding:5px 0px;
}
.loanDataLabel{
	display: block;
	font-weight: 300;
}
.loanData{
	font-weight: 600;
	display: inline-block;
	width:auto;
	font-size: 20px;
}
.additionalContactInfo{
	text-align: left;
}
span.current{
	color:#1aad59;
}
span.pastDue{
	color:#b10000;
}

/* benefits page */
.benefitsColorBox{
	height:460px;
}
/* mobile log in link */
.mobileLogin{
	text-align: center;
	display: none;
	color: #f77111;
}
.mobileLogin a{
	padding: .3em 1em!important;
	
	font-size: 18px;
    background: #ffffff;
    border-color: #f77111;
    letter-spacing: 2px;
    
    color: #f77111 !important;
    background: #fff !important;
    border: 2px solid #f77111 !important;
    border-radius: 3px !important;
    text-decoration: none;

}
/* radio buttons and checkboxes */

input[type="radio"], input[type="checkbox"], .page-template-ffcnewapptemplate input[type="radio"], .page-template-ffcnewapptemplate .gform_wrapper ul.gfield_radio li input[type=radio]{
	width: 30px !important;
	height: 30px !important;
	line-height: 30px;
	vertical-align: middle;
} 
#agreementPage .gform_wrapper ul.gfield_checkbox li input[type=checkbox], #agreementPage .gform_wrapper ul.gfield_radio li input[type=radio]{
	width: 30px !important;
	height: 30px !important;
	line-height: 30px;
	vertical-align: middle;
}
#agreementPage .gform_wrapper ul.gfield_checkbox li input[type=checkbox] + label, #agreementPage .gform_wrapper ul.gfield_radio li input[type=radio] + label{
	color:rgba(26,173,89,1);
}
/* media queries */

@media(max-width:1014px){
	.appNowSlide.et_pb_text_0{
		margin:auto;
		width:90%;
		max-width:400px;
		float:none;
		margin: 0px auto 40px !important;
	}
	.benefitsSlider.et_pb_slider_0.et_pb_slider{
		float:none;	
		width:auto;
		padding:10px;
	}
}
@media(max-width:980px){
	.footerblockleft{
		float:none !important;
		width:100% !important;
		
	}
	.footerblockright{
		float:none !important;
		margin:20px auto !important;
	}
	.et_pb_gutters1 .footer-widget:nth-child(n) {
	    width: 100% !important;
	    margin: auto !important;
	}
	.appNowSlide.et_pb_text_0{
		
	}
	.et_header_style_left #logo, .et_header_style_split #logo {
		max-width: 80%;
	}
	#main-header .container{
		width:100%;
	}
	.et_header_style_left .mobile_menu_bar{
		padding:20px 10px;
	}
	.mobile_menu_bar:before {
	    position: relative;
	    top: 0;
	    left: 0;
	    font-size: 42px;
	    content: "\61";
	    cursor: pointer;
	    color:#8da5c9;
	}
	.et_mobile_menu{
		border-top: 3px solid #283541;
	}
	.mobileLogin{
		display: block;
	}
	.homePageSlider{
		padding-top:150px !important;
	}

}

@media (max-width: 980px){
	.verificationpassedcontainer.et_pb_section {
/* 	    padding: 10px 0 0 !important; */
	}
}


/* How it works */

.howitworkssection{}

.howitworkscol1{}

.howitworkscol2{}

.howitworkscol3{}

.howitworksTitle{
	min-width:220px;
}

@media(max-width:480px){
	.howitworkscol3 .et_pb_text{
		padding: 10px !important;
		text-align: center;
	}
	
	.howitworkscol1{
		max-width:500px !important;
		margin-right: auto !important;
	}

	.howitworkssection .material-icons{
		width:250px;
	}
}

@media(max-width:479px){
	.howitworksTitle.et_pb_text {
		padding-top: 0 !important;
	}
	.howitworkscol1{
		max-width: 500px !important;
	}
}


@media(max-width:980px){
	.howitworks .et_pb_main_blurb_image{
		margin-bottom: 10px;
	}
	.howitworks .et_pb_blurb_container{
		margin-bottom:30px;
	}
	.benefitsSection .et_pb_main_blurb_image{
		margin-bottom:0;
	}
	.benefitsSection .et_pb_blurb_container{
		margin-bottom:30px;
	}
	.home .et_pb_row_0.et_pb_row{
/* 		padding:150px 10px 10px !important; */
	}
	#mobile_menu{
		background:#72b0bd !important;
	}
	#mobile_menu li a{
		color:#fff !important;
	}
	.howitworkssection .et_pb_text_3{
		padding-top:10px !important;
	}
	.howitworkscol1{
		max-width:200px;
		margin-right: 0px !important;
	}
	.howitworkscol2{
		max-height:160px;
	}
	.howitworkssection .et_pb_column{
		margin-bottom:0 !important;
		height:auto !important;
	}
	.howitworksTitle.et_pb_text {
		padding-left:20px !important;
	}
	.howitworkscol3 .et_pb_text{
		padding: 10px !important;
		text-align: center;
	}


}

@media(max-width:768px){
	.benefitsSlider{
		display:none;
	}
}



@media(max-width:768px){
	.appNowSlide .gform_wrapper h3.gform_title{
		font-size: 20px;
		margin:auto;
		padding:0;
	}
	.appNowSlide .gform_wrapper .top_label .gfield_label{
		font-size: 15px !important;
	}
	.appNowSlide .gform_wrapper li.field_sublabel_below .ginput_complex{
		margin-top:0px !important;
	}
	.appNowSlide .gform_wrapper ul li.gfield{
		margin-top:0px !important;
	}
	.appNowSlide .gform_wrapper .gform_heading{
		margin-bottom: 0;
	}
	.appNowSlide .gform_wrapper span.gform_description{
		margin-bottom: 0px;
	}
	.appNowSlide.et_pb_text_0{
		padding:10px !important;
		margin-top:40px !important;
	}
	.appNowSlide .gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label{
		display: none;
	}
	.appNowSlide .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield span.name_first, .appNowSlide .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield span.name_last, .appNowSlide .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield span.name_middle{
		padding-top:0 !important;
	}
	.appNowSlide .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=image]):not([type=file]) {
	    line-height: 1 !important;
	    min-height: 0rem !important;
	}
	.appNowSlide .gform_wrapper input[type=submit]{
		width:70% !important;
	}
	.appNowSlide .gform_wrapper .gform_footer {
	    text-align: center;
	    margin-top: 0;
	}
	.appNowSlide .gform_wrapper .ginput_container span {
        margin-bottom: 8px;
        display: block
    }
    .gform_wrapper ul.gfield_radio li input[type=radio]{
	    
    }
    input[type="radio"], input[type="checkbox"], .page-template-ffcnewapptemplate input[type="radio"], .page-template-ffcnewapptemplate .gform_wrapper ul.gfield_radio li input[type=radio]{
		width: 30px !important;
		height: 30px !important;
		line-height: 30px;
		vertical-align: middle;
	} 
	#agreementPage .gform_wrapper ul.gfield_checkbox li input[type=checkbox], #agreementPage .gform_wrapper ul.gfield_radio li input[type=radio]{
		width: 30px !important;
		height: 30px !important;
		line-height: 30px;
		vertical-align: middle;
	}
}


@media(max-width:640px){
	.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_page_footer .button{
		width:auto !important;
	}
}

@media(max-width:600px){
	#footer-widgets .footer-widget .et_pb_widget ul li{
		display: inline-block;
		margin:5px;
		padding:5px;
		text-align: center;
		border:none;
		border: 1px solid #fff !important;
		width:118px;
	}
	#footer-widgets .footer-widget .et_pb_widget ul li:first-child{
		margin:5px !important;
		padding:5px !important;
		border: 1px solid #fff !important;
	}
	#footer-widgets ul.menu{
/* 		width:25%; */
		margin: auto !important;
		text-align: center;
		padding-top:10px !important;
	}
}



@media(max-width:320px){
	/* reCaptcha */
	.reCaptcha div div{
		margin-left:-20px;
	}
}
